node_modules
.env
.vercel

# Temporary ignore
src/app/modules/auth
src/app/modules/book
src/app/modules/category
src/app/modules/order
src/app/modules/profile
src/app/modules/user

src/app/routes

src/enums

src/helpers/excludeField.ts

prisma/


